{{#if later }}
<div class="encumbrance" title="{{localize T20.Encumbrance}}">
	<span class="encumbrance-bar" style="width:{{system.attributes.carga.pct}}%"></span>
	<span class="encumbrance-label">
		{{#if (or isVehicle isSimple)}}
		{{system.attributes.carga.value}} / <input type="number" style="width:40px;color: white;" name="system.attributes.carga.max" value="{{system.attributes.carga.max}}">
		{{else}}
		{{system.attributes.carga.value}} / {{system.attributes.carga.max}}
		{{/if}}
	</span>
	<i class="encumbrance-breakpoint encumbrance-50 arrow-up"></i>
	<i class="encumbrance-breakpoint encumbrance-50 arrow-down"></i>
</div>
{{/if}}
{{#if 1 }}
<div class="encumbrance-bar">
	<progress class="encumbrance {{#if system.attributes.carga.encumbered}}over{{/if}}" value="{{system.attributes.carga.value}}" max="{{system.attributes.carga.max}}">
		{{system.attributes.carga.value}} / {{system.attributes.carga.max}}
	</progress>
	<span class="encumbrance-label">
		{{#if (or isVehicle isSimple)}}
		{{system.attributes.carga.value}} / <input type="number" style="width:40px;height:15px; color: white;" name="system.attributes.carga.max" value="{{system.attributes.carga.max}}">
		{{else}}
		{{system.attributes.carga.value}} / {{system.attributes.carga.max}}
		{{/if}}
	</span>
</div>

<style>
	progress.encumbrance {
		background: #7a7971;
		width: 100%;
		border-radius: 5px;
		position: relative;
		box-shadow: 0 0 0 1px rgb(0 0 0 / 90%) inset;
	}
	progress.encumbrance::-webkit-progress-bar {
		background: #7a7971;
		border-radius: 5px;
		position: relative;
		box-shadow: 0 0 0 1px rgb(0 0 0 / 90%) inset;
	}
	progress.encumbrance::-webkit-progress-value {
		position: absolute;
		top: 1px;
		left: 1px;
		background: #6c8aa5;
		height: calc(100% - 1px);
		border: 1px solid #cde4ff;
		border-radius: 4px;
	}
	progress.encumbrance.over::-webkit-progress-value {
		background: #d6761c;
	}
	
	.encumbrance-bar .encumbrance-label{
		display: block;
		position: relative;
		width: 100%;
		top: -18px;
		text-align: center;
		font-weight: 700;
		font-size: 13px;
		color: #EEE;
		text-shadow: 0 0 2px #000;
	}
</style>
{{/if}}