<header class="sheet-header flexcol">
	<div class="general-information flexrow">
		<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'T20.Name' }}" />
		<aside class="charlevel flexrow">
			<label>{{localize 'T20.AbbreviationCR'}}</label>
			<input type="text" name="system.attributes.nd" value="{{system.attributes.nd}}" placeholder="0">
			<input disabled type="text" value="{{system.attributes.nivel.xp.value}} XP">
		</aside>
	</div>
	<ul class="attributes summary flexrow">
		<li class="flexrow flex2">
			<label>{{localize 'T20.CreatureType'}}: </label>
			<select class="selectAtr" name="system.detalhes.tipo">
				{{#select system.detalhes.tipo}}
				{{#each config.creatureTypes as |label type|}}
				<option value="{{type}}">{{localize label}}</option>
				{{/each}}
				{{/select}}
			</select>
		</li>
		<li>
			<input type="text" title="{{ localize 'T20.Race'}}" placeholder="{{ localize 'T20.Race'}}"  name="system.detalhes.raca" value="{{system.detalhes.raca}}" />
		</li>
		<li>
			<select class="selectAtr" name="system.detalhes.role" title="{{ localize 'T20.Role'}}" >
				{{#select system.detalhes.role}}
				{{#each config.creatureRoles as |label type|}}
				<option value="{{type}}">{{localize label}}</option>
				{{/each}}
				{{/select}}
			</select>
		</li>
	</ul>
</header>