<div class="form-group">
	<label>{{ localize "T20.ActionSave" }}</label>
	<div class="form-fields">
		<input type="text" name="system.resistencia.txt" value="{{item.system.resistencia.txt}}" />
	</div>
</div>

{{#if item.system.resistencia.txt}}
<div class="form-group">
	<label>{{ localize "T20.DCAbilityBonus" }}</label>
	<div class="form-fields">
		<select name="system.resistencia.atributo">
			{{#select item.system.resistencia.atributo}}
			<option value=""></option>
			{{selectOptions config.atributos selected=item.system.resistencia.atributo localize=true}}
			{{/select}}
		</select>
		<input type="text" name="system.resistencia.bonus" value="{{item.system.resistencia.bonus}}" data-dtype="Number" />
	</div>
</div>
{{/if}}