<div class="tab enhancements" data-group="primary" data-tab="enhancements">
	{{localize "T20.WIPEnhancements"}}
	{{#if (or (eq item.type "arma") (and (eq item.type "consumivel") (eq item.system.tipo "ammo"))  ) }}
		<div class="form-group">
			<label for="">{{localize "T20.Size"}}</label>
			<div class="form-fields">
				<select name="system.size" value="{{system.size}}" title="{{ localize 'T20.Size'}}">
					{{#select system.size}}
					{{#each config.weaponSizes as |value key|}}
					<option value="{{key}}">{{value}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
	{{/if}}

	{{#if (or (eq item.type "arma") (and (eq item.type "consumivel") (eq item.system.tipo "ammo")) (eq item.type "equipamento") ) }}
	<h2>{{localize "T20.ItemUpgrades"}}</h2>
	{{#each item.system.upgrades as |value key| }}
		{{#if (or (eq key "melhoria1") (eq key "melhoria2") (eq key "melhoria3") (eq key "melhoria4") )}}
		<div class="form-group">
			<label for="">{{localize "T20.ItemUpgrade"}}</label>
			<div class="form-fields">
				<select name="system.upgrades.{{key}}">
					{{#if (or (eq @root.item.type "arma") (and (eq @root.item.type "consumivel") (eq @root.item.system.tipo "ammo")))}}
					{{selectOptions @root.config.weaponUpgrades blank="-" selected=value localize=true}}
					{{else if (and (eq @root.item.type "equipamento") (or (eq @root.item.system.tipo "leve") (eq @root.item.system.tipo "pesada")) )}}
					{{selectOptions @root.config.armorUpgrades blank="-" selected=value localize=true}}
					{{else if (and (eq @root.item.type "equipamento") (eq @root.item.system.tipo "escudo") )}}
					{{selectOptions @root.config.shieldUpgrades blank="-" selected=value localize=true}}
					{{else if (and (eq @root.item.type "equipamento") (eq @root.item.system.tipo "esoterico") )}}
					{{selectOptions @root.config.esotericUpgrades blank="-" selected=value localize=true}}
					{{else if (and (eq @root.item.type "equipamento") (or (eq @root.item.system.tipo "traje") (eq @root.item.system.tipo "ferramenta")) )}}
					{{selectOptions @root.config.toolUpgrades blank="-" selected=value localize=true}}
					{{/if}}
				</select>
				{{#if (or (eq @root.item.type "arma") (and (eq @root.item.type "consumivel") (eq @root.item.system.tipo "ammo")))}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.weaponUpgradesTooltips value}}"></i>
				{{else if (and (eq @root.item.type "equipamento") (or (eq @root.item.system.tipo "leve") (eq @root.item.system.tipo "pesada")) )}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.armorUpgradesTooltips value}}"></i>
				{{else if (and (eq @root.item.type "equipamento") (eq @root.item.system.tipo "escudo") )}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.shieldUpgradesTooltips value}}"></i>
				{{else if (and (eq @root.item.type "equipamento") (eq @root.item.system.tipo "esoterico") )}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.esotericUpgradesTooltips value}}"></i>
				{{else if (and (eq @root.item.type "equipamento") (or (eq @root.item.system.tipo "traje") (eq @root.item.system.tipo "ferramenta")) )}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.toolUpgradesTooltips value}}"></i>
				{{/if}}
				
			</div>
		</div>
		{{/if}}
		{{#if (eq key "material") }}
		<div class="form-group">
			<label for="">{{localize "T20.SpecialMaterial"}}</label>
			<div class="form-fields">
				<select name="system.upgrades.{{key}}">
					{{selectOptions @root.config.specialMaterials blank="-" selected=value localize=true}}
				</select>
			</div>
		</div>
		{{/if}}
	{{/each}}
	{{/if}}

	{{#if (or (eq item.type "arma") (and (eq item.type "consumivel") (eq item.system.tipo "ammo")) (and (eq item.type "equipamento") (or (eq item.system.tipo "pesada") (eq item.system.tipo "leve") (eq item.system.tipo "escudo"))) ) }}
	<h2>{{localize "T20.Enchantments"}}</h2>
	{{#each item.system.upgrades as |value key| }}
		{{#if (or (eq key "encanto1") (eq key "encanto2") (eq key "encanto3") )}}
		<div class="form-group">
			<label for="">{{localize "T20.Enchantment"}}</label>
			<div class="form-fields">
				<select name="system.upgrades.{{key}}">
					{{#if (or (eq @root.item.type "arma") (and (eq @root.item.type "consumivel") (eq @root.item.system.tipo "ammo")))}}
					{{selectOptions @root.config.weaponEnchantments blank="-" selected=value localize=true}}
					{{else if (and (eq @root.item.type "equipamento") (or (eq @root.item.system.tipo "leve") (eq @root.item.system.tipo "pesada")) )}}
					{{selectOptions @root.config.armorEnchantments blank="-" selected=value localize=true}}
					{{else if (and (eq @root.item.type "equipamento") (eq @root.item.system.tipo "escudo") )}}
					{{selectOptions @root.config.shieldEnchantments blank="-" selected=value localize=true}}
					{{/if}}
				</select>
				{{#if (or (eq @root.item.type "arma") (and (eq @root.item.type "consumivel") (eq @root.item.system.tipo "ammo")))}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.weaponEnchantmentsTooltips value}}"></i>
				{{else if (and (eq @root.item.type "equipamento") (or (eq @root.item.system.tipo "leve") (eq @root.item.system.tipo "pesada")) )}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.armorEnchantmentsTooltips value}}"></i>
				{{else if (and (eq @root.item.type "equipamento") (eq @root.item.system.tipo "escudo") )}}
				<i class="fa-solid fa-circle-info" data-tooltip="{{lookup @root.config.shieldEnchantmentsTooltips value}}"></i>
				{{/if}}
			</div>
		</div>
		{{/if}}
	{{/each}}
	{{/if}}
	{{#if oldWay }}
		{{#if (or (eq item.type "arma") (and (eq item.type "consumivel") (eq item.system.tipo "ammo"))  ) }}
		<div class="form-group">
			<label for="">{{localize "T20.Size"}}</label>
			<div class="form-fields">
				<select name="system.size" value="{{system.size}}" title="{{ localize 'T20.Size'}}">
					{{#select system.size}}
					{{#each config.weaponSizes as |value key|}}
					<option value="{{key}}">{{value}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>

		<h2>{{localize "T20.ItemUpgrades"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
			{{#each config.weaponUpgrades as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup ../config.weaponUpgradesTooltips key}}">
					<input type="checkbox" name="system.melhorias.{{key}}" value="{{value}}" {{checked (lookup ../system.melhorias key)}}>
					{{value}}
				</label>
			</li>
			{{/each}}
		</ul>
		<h2>{{localize "T20.Enchantments"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
		{{#each config.weaponEnchantments as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup ../config.weaponEnchantmentsTooltips key}}">
					<input type="checkbox" name="system.encantos.{{key}}" value="{{value}}" {{checked (lookup ../system.encantos key)}}>
					{{value}}
				</label>
			</li>
		{{/each}}
		</ul>
		{{/if}}

		{{#if (and (eq item.type "equipamento") (or (eq item.system.tipo "leve") (eq item.system.tipo "pesada")))}}
		<h2>{{localize "T20.ItemUpgrades"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
		{{#each config.armorUpgrades as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup config.armorUpgradesTooltips key}}">
					<input type="checkbox" name="system.melhorias.{{key}}" value="{{value}}" {{checked (lookup ../system.melhorias key)}}>
					{{value}}
				</label>
			</li>
		{{/each}}
		</ul>
		<h2>{{localize "T20.Enchantments"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
		{{#each config.armorEnchantments as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup config.armorEnchantmentsTooltips key}}">
					<input type="checkbox" name="system.encantos.{{key}}" value="{{value}}" {{checked (lookup ../system.encantos key)}}>
					{{value}}
				</label>
			</li>
		{{/each}}
		</ul>
		{{/if}}

		{{#if (and (eq item.type "equipamento") (eq item.system.tipo "escudo"))}}
		<h2>{{localize "T20.ItemUpgrades"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
		{{#each config.shieldUpgrades as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup config.shieldUpgradesTooltips key}}">
					<input type="checkbox" name="system.melhorias.{{key}}" value="{{value}}" {{checked (lookup ../system.melhorias key)}}>
					{{value}}
				</label>
			</li>
		{{/each}}
		</ul>
		<h2>{{localize "T20.Enchantments"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
		{{#each config.shieldEnchantments as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup config.shieldEnchantmentsTooltips key}}">
					<input type="checkbox" name="system.encantos.{{key}}" value="{{value}}" {{checked (lookup ../system.encantos key)}}>
					{{value}}
				</label>
			</li>
		{{/each}}
		</ul>
		{{/if}}

		{{#if (and (eq item.type "equipamento") (eq item.system.tipo "esoterico"))}}
		<h2>{{localize "T20.ItemUpgrades"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
		{{#each config.esotericUpgrades as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup config.esotericUpgradesTooltips key}}">
					<input type="checkbox" name="system.melhorias.{{key}}" value="{{value}}" {{checked (lookup ../system.melhorias key)}}>
					{{value}}
				</label>
			</li>
		{{/each}}
		</ul>
		{{/if}}

		{{#if (and (eq item.type "equipamento") (or (eq item.system.tipo "traje") (eq item.system.tipo "ferramenta")))}}
		<h2>{{localize "T20.ItemUpgrades"}}</h2>
		<ul class="item-properties" style="list-style: none; columns:3;">
		{{#each config.toolUpgrades as |value key|}}
			<li class="flexrow">
				<label class="checkbox" data-tooltip="{{lookup config.toolUpgradesTooltips key}}">
					<input type="checkbox" name="system.melhorias.{{key}}" value="{{value}}" {{checked (lookup ../system.melhorias key)}}>
					{{value}}
				</label>
			</li>
		{{/each}}
		</ul>
		{{/if}}
	{{/if}}
</div>
