<form class="" autocomplete="off" onsubmit="event.preventDefault();">
	<!-- <h3>{{ localize 'T20.Classes'}}</h3> -->
	<table class="trait-list" style="text-align:center;">
		<tr>
			<td>{{ localize 'T20.Class'}}</td>
			<td>{{ localize 'T20.HPTotal'}}</td>
			<td>{{ localize 'T20.HPPerLevel'}}</td>
			<td>{{ localize 'T20.MPTotal'}}</td>
			<td>{{ localize 'T20.MPPerLevel'}}</td>
		</tr>
		{{#each classes as |data key|}}
		<tr>
			<td>{{data.label}} {{data.niveis}}</td>
			<td>{{data.pvTotal}}</td>
			<td>{{data.pvPorNivel}} + {{../con}}</td>
			<td>{{data.pmTotal}}</td>
			<td>{{data.pmPorNivel}}</td>
			<td>
				<input hidden type="text" name="classes.{{data.label}}.pv" value="{{data.pvTotal}}"  data-dtype="Number" />
				<input hidden type="text" name="classes.{{data.label}}.pm" value="{{data.pmTotal}}" data-dtype="Number"/>
			</td>
		</tr>
		{{/each}}
		<tr>
			<td colspan="5">{{localize "T20.Custom"}}</td>
		</tr>
		<tr>
			<td>{{localize "T20.Bonus"}}</td>
			<td><input type="number" step="0.5" name="pvBonus" value="{{flags.lvlconfig.pvBonus.[0]}}" data-dtype="Number" placeholder="0" title="{{localize "T20.HP"}} {{ localize 'T20.BonusTotal'}}" /></td>
			<td><input type="number" step="0.5" name="pvBonus" value="{{flags.lvlconfig.pvBonus.[1]}}" data-dtype="Number" placeholder="0" title="{{localize "T20.HP"}} {{ localize 'T20.BonusPerLevel'}}"/></td>
			<td><input type="number" step="0.5" name="pmBonus" value="{{flags.lvlconfig.pmBonus.[0]}}" data-dtype="Number" placeholder="0" title="{{localize "T20.MP"}} {{ localize 'T20.BonusTotal'}}" /></td>
			<td><input type="number" step="0.5" name="pmBonus" value="{{flags.lvlconfig.pmBonus.[1]}}" data-dtype="Number" placeholder="0" title="{{localize "T20.MP"}} {{ localize 'T20.BonusPerLevel'}}"/></td>
		</tr>
		<tr>
			<td>{{localize "T20.Ability"}} {{localize "T20.HP"}}</td>
			<td colspan="4">
				{{#each config.atributosAbr as |name prop|}}
					{{#unless (eq prop "con") }}
					<label class="checkbox">
						<input type="checkbox" name="pv.{{prop}}" value="{{name}}" {{checked (lookup ../flags.lvlconfig.pv prop)}} data-dtype="Boolean" /> {{localize name }}
					</label>
					{{/unless}}
				{{/each}}
			</td>
		</tr>
		<tr>
			<td>{{localize "T20.Ability"}} {{localize "T20.MP"}}</td>
			<td colspan="4">
				{{#each config.atributosAbr as |name prop|}}
					<label class="checkbox">
						<input type="checkbox" name="pm.{{prop}}" value="{{name}}" {{checked (lookup ../flags.lvlconfig.pm prop)}} data-dtype="Boolean" /> {{localize name }}
					</label>
				{{/each}}
			</td>
		</tr>
	</table>
	<label class="checkbox">{{localize "T20.Manual"}}
		<input type="checkbox" name="manual" {{checked flags.lvlconfig.manual}} data-dtype="Boolean">
	</label>
	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize 'T20.Submit'}}</button>
</form>